* {
    margin: 0px;

}

.box {
    width: 500px;
    height: 500px;
    margin: 200px auto 0px;
    background-color: red;
    background-image: url("../img/1.jpg");

}

.box h2 {
  
    color: white;
    font-family: impact;
    font-weight: normal;
}

.box p{

    color: yellow;
    font-family: serif;
    
}