* {
    margin: 0px;
}

.box-1 {

    width: 50%;
    height: 200px;
    background-color: red;
    float: left;

}

.box-2 {

    width: 50%;
    height: 200px;
    background-color: green;
    float: left;
}