* {
    margin: 0px;
}

h2 {
    text-align: center;
    font-size: 40px;
    font-family: impact;
    font-weight: normal;

}

h2::before{
    content: "===";
    color: red;
}

h2::after{
    content: "===";
    color: blue;
}