* {
    margin: 0px;
}

.box {
    background-color: red;
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right:0px;
    margin: auto;  
    /* top: 0px;
    bottom: 0px;
    left: 0px;
    right:0px;
    margin: auto; */   /* to bring it to center */
}