* {
    margin: 0px;
}

.box {
    
    width: 500px;
    padding: 10px;
    border: 2px solid black;
    margin: 300px auto;

}

.box input {

    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}